<ng-container *ngIf="isLogged()">
  <app-navbar></app-navbar>
</ng-container>
<router-outlet></router-outlet>

<div class="select-language-container pt-3 pb-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-2 offset-5">
        <select (change)="setLanguage($event)" class="form-select" aria-label="Default select example">
          <option selected>{{ 'selectLang.translate' | translate }}</option>
          <option *ngFor="let availableLang of availableLangs" [value]="availableLang.value">{{ availableLang.key | translate }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
